<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Recommendation page 2</title>
        <link rel="stylesheet" href="../static/css/recommendationStyle.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>
        <div class="wrapper">
            <form action="/advance_rec_drop" method="POST" name="dataform" id="recommendationForm">
                <h1>Advance Recommendation</h1>

                <div class="input-box">
                    <select name="priceRange" required id="priceRange">
                        <option value="" disabled selected>Select Price Range</option>
                        <option value="500">Less than $500</option>
                        <option value="1000">$500 - $1000</option>
                        <option value="1500">$1000 - $1500</option>
                        <option value="100000">More than $1500</option>
                    </select>
                    <box-icon name='lock-alt' type='solid'></box-icon>
                </div>

                <div class="input-box">
                    <select name="ram" required id="ram">
                        <option value="" disabled selected>Select RAM</option>
                        <option value="8">8GB</option>
                        <option value="16">16GB</option>
                        <option value="32">32GB</option>
                        <option value="64">64GB</option>
                    </select>
                </div>

                <div class="input-box">
                    <select name="gpu" required id="gpu">
                        <option value="" disabled selected>Select GPU</option>
                        <option value="AMD FirePro W4190M">AMD FirePro W4190M</option>
                        <option value="AMD FirePro W4190M ">AMD FirePro W4190M </option>
                        <option value="AMD FirePro W5130M">AMD FirePro W5130M</option>
                        <option value="AMD FirePro W6150M">AMD FirePro W6150M</option>
                        <option value="AMD Radeon 520">AMD Radeon 520</option>
                        <option value="AMD Radeon 530">AMD Radeon 530</option>
                        <option value="AMD Radeon 540">AMD Radeon 540</option>
                        <option value="AMD Radeon 540 ">AMD Radeon 540 </option>
                        <option value="AMD Radeon 555">AMD Radeon 555</option>
                        <option value="AMD Radeon 560">AMD Radeon 560</option>
                        <option value="AMD Radeon 580">AMD Radeon 580</option>
                        <option value="AMD Radeon Pro 455">AMD Radeon Pro 455</option>
                        <option value="AMD Radeon Pro 555">AMD Radeon Pro 555</option>
                        <option value="AMD Radeon Pro 560">AMD Radeon Pro 560</option>
                        <option value="AMD Radeon R17M-M1-70">AMD Radeon R17M-M1-70</option>
                        <option value="AMD Radeon R2">AMD Radeon R2</option>
                        <option value="AMD Radeon R2 Graphics">AMD Radeon R2 Graphics</option>
                        <option value="AMD Radeon R3">AMD Radeon R3</option>
                        <option value="AMD Radeon R4">AMD Radeon R4</option>
                        <option value="AMD Radeon R4 Graphics">AMD Radeon R4 Graphics</option>
                        <option value="AMD Radeon R5">AMD Radeon R5</option>
                        <option value="AMD Radeon R5 M315">AMD Radeon R5 M315</option>
                        <option value="AMD Radeon R5 M330">AMD Radeon R5 M330</option>
                        <option value="AMD Radeon R5 M420">AMD Radeon R5 M420</option>
                        <option value="AMD Radeon R5 M420X">AMD Radeon R5 M420X</option>
                        <option value="AMD Radeon R5 M430">AMD Radeon R5 M430</option>
                        <option value="AMD Radeon R5 M315 ">AMD Radeon R5 M315 </option>
                        <option value="AMD Radeon R5 M420X ">AMD Radeon R5 M420X </option>
                        <option value="AMD Radeon R5 M420 ">AMD Radeon R5 M420 </option>
                        <option value="AMD Radeon R5 M430 ">AMD Radeon R5 M430 </option>
                        <option value="AMD Radeon R5 M435">AMD Radeon R5 M435</option>
                        <option value="AMD Radeon R5 M440">AMD Radeon R5 M440</option>
                        <option value="AMD Radeon R5 M445">AMD Radeon R5 M445</option>
                        <option value="AMD Radeon R5 M520">AMD Radeon R5 M520</option>
                        <option value="AMD Radeon R5 M530">AMD Radeon R5 M530</option>
                        <option value="AMD Radeon R5 430">AMD Radeon R5 430</option>
                        <option value="AMD Radeon R5 520">AMD Radeon R5 520</option>
                        <option value="AMD Radeon R5 Graphics">AMD Radeon R5 Graphics</option>
                        <option value="AMD Radeon R7">AMD Radeon R7</option>
                        <option value="AMD Radeon R7 240">AMD Radeon R7 240</option>
                        <option value="AMD Radeon R7 250">AMD Radeon R7 250</option>
                        <option value="AMD Radeon R7 250X">AMD Radeon R7 250X</option>
                        <option value="AMD Radeon R7 260">AMD Radeon R7 260</option>
                        <option value="AMD Radeon R7 260X">AMD Radeon R7 260X</option>
                        <option value="AMD Radeon R7 265">AMD Radeon R7 265</option>
                        <option value="AMD Radeon R7 340">AMD Radeon R7 340</option>
                        <option value="AMD Radeon R7 350">AMD Radeon R7 350</option>
                        <option value="AMD Radeon R7 350X">AMD Radeon R7 350X</option>
                        <option value="AMD Radeon R7 360">AMD Radeon R7 360</option>
                        <option value="AMD Radeon R7 370">AMD Radeon R7 370</option>
                        <option value="AMD Radeon R7 430">AMD Radeon R7 430</option>
                        <option value="AMD Radeon R7 450">AMD Radeon R7 450</option>
                        <option value="AMD Radeon R7 A360">AMD Radeon R7 A360</option>
                        <option value="AMD Radeon R7 A370">AMD Radeon R7 A370</option>
                        <option value="AMD Radeon R7 A465">AMD Radeon R7 A465</option>
                        <option value="AMD Radeon R7 A470">AMD Radeon R7 A470</option>
                        <option value="AMD Radeon R7 A470X">AMD Radeon R7 A470X</option>
                        <option value="AMD Radeon R7 A475">AMD Radeon R7 A475</option>
                        <option value="AMD Radeon R7 A485">AMD Radeon R7 A485</option>
                        <option value="AMD Radeon R7 M260">AMD Radeon R7 M260</option>
                        <option value="AMD Radeon R7 M265">AMD Radeon R7 M265</option>
                        <option value="AMD Radeon R7 M270">AMD Radeon R7 M270</option>
                        <option value="AMD Radeon R7 M340">AMD Radeon R7 M340</option>
                        <option value="AMD Radeon R7 M350">AMD Radeon R7 M350</option>
                        <option value="AMD Radeon R7 M360">AMD Radeon R7 M360</option>
                        <option value="AMD Radeon R7 M370">AMD Radeon R7 M370</option>
                        <option value="AMD Radeon R7 M440">AMD Radeon R7 M440</option>
                        <option value="AMD Radeon R7 M445">AMD Radeon R7 M445</option>
                        <option value="AMD Radeon R7 M460">AMD Radeon R7 M460</option>
                        <option value="AMD Radeon R7 M465">AMD Radeon R7 M465</option>
                        <option value="AMD Radeon R7 M465X">AMD Radeon R7 M465X</option>
                        <option value="AMD Radeon R7 M470">AMD Radeon R7 M470</option>
                        <option value="AMD Radeon R7 M520">AMD Radeon R7 M520</option>
                        <option value="AMD Radeon R7 M530">AMD Radeon R7 M530</option>
                        <option value="AMD Radeon R7 M540">AMD Radeon R7 M540</option>
                        <option value="AMD Radeon R7 M440 ">AMD Radeon R7 M440 </option>
                        <option value="AMD Radeon R7 M460 ">AMD Radeon R7 M460 </option>
                        <option value="AMD Radeon R7 M465 ">AMD Radeon R7 M465 </option>
                        <option value="AMD Radeon R7 M470 ">AMD Radeon R7 M470 </option>
                        <option value="AMD Radeon R7 M520 ">AMD Radeon R7 M520 </option>
                        <option value="AMD Radeon R7 M530 ">AMD Radeon R7 M530 </option>
                        <option value="AMD Radeon R7 M540 ">AMD Radeon R7 M540 </option>
                        <option value="AMD Radeon R7 M440X">AMD Radeon R7 M440X</option>
                        <option value="AMD Radeon R7 M445X">AMD Radeon R7 M445X</option>
                        <option value="AMD Radeon R7 M460X">AMD Radeon R7 M460X</option>
                        <option value="AMD Radeon R7 M465X ">AMD Radeon R7 M465X </option>
                        <option value="AMD Radeon R7 M470X">AMD Radeon R7 M470X</option>
                        <option value="AMD Radeon R7 M520X">AMD Radeon R7 M520X</option>
                        <option value="AMD Radeon R7 M530X">AMD Radeon R7 M530X</option>
                        <option value="AMD Radeon R7 M540X">AMD Radeon R7 M540X</option>
                        <option value="AMD Radeon R7 450 ">AMD Radeon R7 450 </option>
                        <option value="AMD Radeon R7 350 ">AMD Radeon R7 350 </option>
                        <option value="AMD Radeon R7 250 ">AMD Radeon R7 250 </option>
                        <option value="AMD Radeon R7 240 ">AMD Radeon R7 240 </option>
                        <option value="ARM Mali T860 MP4">ARM Mali T860 MP4</option>
                        <option value="Intel Graphics 620">Intel Graphics 620</option>
                        <option value="Intel HD Graphics">Intel HD Graphics</option>
                        <option value="Intel HD Graphics 400">Intel HD Graphics 400</option>
                        <option value="Intel HD Graphics 405">Intel HD Graphics 405</option>
                        <option value="Intel HD Graphics 410">Intel HD Graphics 410</option>
                        <option value="Intel HD Graphics 420">Intel HD Graphics 420</option>
                        <option value="Intel HD Graphics 4400">Intel HD Graphics 4400</option>
                        <option value="Intel HD Graphics 4600">Intel HD Graphics 4600</option>
                        <option value="Intel HD Graphics 500">Intel HD Graphics 500</option>
                        <option value="Intel HD Graphics 505">Intel HD Graphics 505</option>
                        <option value="Intel HD Graphics 510">Intel HD Graphics 510</option>
                        <option value="Intel HD Graphics 515">Intel HD Graphics 515</option>
                        <option value="Intel HD Graphics 520">Intel HD Graphics 520</option>
                        <option value="Intel HD Graphics 530">Intel HD Graphics 530</option>
                        <option value="Intel HD Graphics 5300">Intel HD Graphics 5300</option>
                        <option value="Intel HD Graphics 540">Intel HD Graphics 540</option>
                        <option value="Intel HD Graphics 5500">Intel HD Graphics 5500</option>
                        <option value="Intel HD Graphics 5600">Intel HD Graphics 5600</option>
                        <option value="Intel HD Graphics 6000">Intel HD Graphics 6000</option>
                        <option value="Intel HD Graphics 610">Intel HD Graphics 610</option>
                        <option value="Intel HD Graphics 615">Intel HD Graphics 615</option>
                        <option value="Intel HD Graphics 620">Intel HD Graphics 620</option>
                        <option value="Intel HD Graphics 620 ">Intel HD Graphics 620 </option>
                        <option value="Intel HD Graphics 630">Intel HD Graphics 630</option>
                        <option value="Intel Iris Graphics 540">Intel Iris Graphics 540</option>
                        <option value="Intel Iris Graphics 550">Intel Iris Graphics 550</option>
                        <option value="Intel Iris Graphics 6100">Intel Iris Graphics 6100</option>
                        <option value="Intel Iris Plus Graphics 640">Intel Iris Plus Graphics 640</option>
                        <option value="Intel Iris Plus Graphics 640 ">Intel Iris Plus Graphics 640 </option>
                        <option value="Intel Iris Plus Graphics 650">Intel Iris Plus Graphics 650</option>
                        <option value="Intel Iris Plus Graphics 655">Intel Iris Plus Graphics 655</option>
                        <option value="Intel UHD Graphics 600">Intel UHD Graphics 600</option>
                        <option value="Intel UHD Graphics 605">Intel UHD Graphics 605</option>
                        <option value="Intel UHD Graphics 610">Intel UHD Graphics 610</option>
                        <option value="Intel UHD Graphics 615">Intel UHD Graphics 615</option>
                        <option value="Intel UHD Graphics 620">Intel UHD Graphics 620</option>
                        <option value="NVIDIA GeForce 920">NVIDIA GeForce 920</option>
                        <option value="NVIDIA GeForce 920M">NVIDIA GeForce 920M</option>
                        <option value="NVIDIA GeForce 920MX">NVIDIA GeForce 920MX</option>
                        <option value="NVIDIA GeForce 920MX ">NVIDIA GeForce 920MX </option>
                        <option value="NVIDIA GeForce 930M">NVIDIA GeForce 930M</option>
                        <option value="NVIDIA GeForce 930MX">NVIDIA GeForce 930MX</option>
                        <option value="NVIDIA GeForce 930MX ">NVIDIA GeForce 930MX </option>
                        <option value="NVIDIA GeForce 940M">NVIDIA GeForce 940M</option>
                        <option value="NVIDIA GeForce 940MX">NVIDIA GeForce 940MX</option>
                        <option value="NVIDIA GeForce 940MX ">NVIDIA GeForce 940MX </option>
                        <option value="NVIDIA GeForce 945M">NVIDIA GeForce 945M</option>
                        <option value="NVIDIA GeForce 945MX">NVIDIA GeForce 945MX</option>
                        <option value="NVIDIA GeForce 950">NVIDIA GeForce 950</option>
                        <option value="NVIDIA GeForce 950M">NVIDIA GeForce 950M</option>
                        <option value="NVIDIA GeForce 960M">NVIDIA GeForce 960M</option>
                        <option value="NVIDIA GeForce GTX 1050">NVIDIA GeForce GTX 1050</option>
                        <option value="NVIDIA GeForce GTX 1050 Ti">NVIDIA GeForce GTX 1050 Ti</option>
                        <option value="NVIDIA GeForce GTX 1050M">NVIDIA GeForce GTX 1050M</option>
                        <option value="NVIDIA GeForce GTX 1060">NVIDIA GeForce GTX 1060</option>
                        <option value="NVIDIA GeForce GTX 1070">NVIDIA GeForce GTX 1070</option>
                        <option value="NVIDIA GeForce GTX 1070M">NVIDIA GeForce GTX 1070M</option>
                        <option value="NVIDIA GeForce GTX 1080">NVIDIA GeForce GTX 1080</option>
                        <option value="NVIDIA GeForce GTX1080">NVIDIA GeForce GTX1080</option>
                        <option value="NVIDIA GeForce GTX150">NVIDIA GeForce GTX150</option>
                        <option value="NVIDIA GeForce GTX950">NVIDIA GeForce GTX950</option>
                        <option value="NVIDIA GeForce GTX960">NVIDIA GeForce GTX960</option>
                        <option value="NVIDIA GeForce GTX960M">NVIDIA GeForce GTX960M</option>
                        <option value="NVIDIA GeForce MX130">NVIDIA GeForce MX130</option>
                        <option value="NVIDIA GeForce MX150">NVIDIA GeForce MX150</option>
                        <option value="NVIDIA GeForce MX230">NVIDIA GeForce MX230</option>
                        <option value="NVIDIA GeForce MX250">NVIDIA GeForce MX250</option>
                        <option value="NVIDIA GeForce MX330">NVIDIA GeForce MX330</option>
                        <option value="NVIDIA GeForce MX350">NVIDIA GeForce MX350</option>
                        <option value="NVIDIA GeForce MX450">NVIDIA GeForce MX450</option>
                        <option value="NVIDIA GeForce RTX 2060">NVIDIA GeForce RTX 2060</option>
                        <option value="NVIDIA GeForce RTX 2070">NVIDIA GeForce RTX 2070</option>
                        <option value="NVIDIA GeForce RTX 2080">NVIDIA GeForce RTX 2080</option>
                        <option value="NVIDIA GeForce RTX 2080 Ti">NVIDIA GeForce RTX 2080 Ti</option>
                        <option value="NVIDIA Quadro M1000M">NVIDIA Quadro M1000M</option>
                        <option value="NVIDIA Quadro M1200">NVIDIA Quadro M1200</option>
                        <option value="NVIDIA Quadro M2000M">NVIDIA Quadro M2000M</option>
                        <option value="NVIDIA Quadro M2200">NVIDIA Quadro M2200</option>
                        <option value="NVIDIA Quadro M3000M">NVIDIA Quadro M3000M</option>
                        <option value="NVIDIA Quadro M500M">NVIDIA Quadro M500M</option>
                        <option value="NVIDIA Quadro M520M">NVIDIA Quadro M520M</option>
                        <option value="NVIDIA Quadro M620">NVIDIA Quadro M620</option>
                        <option value="NVIDIA Quadro M620M">NVIDIA Quadro M620M</option>
                        <option value="NVIDIA Quadro P1000">NVIDIA Quadro P1000</option>
                        <option value="NVIDIA Quadro P2000">NVIDIA Quadro P2000</option>
                        <option value="NVIDIA Quadro P2200">NVIDIA Quadro P2200</option>
                        <option value="NVIDIA Quadro P400">NVIDIA Quadro P400</option>
                        <option value="NVIDIA Quadro P4000">NVIDIA Quadro P4000</option>
                        <option value="NVIDIA Quadro P5000">NVIDIA Quadro P5000</option>
                        <option value="NVIDIA Quadro P5200">NVIDIA Quadro P5200</option>
                        <option value="NVIDIA Quadro P600">NVIDIA Quadro P600</option>
                        <option value="NVIDIA Quadro P6000">NVIDIA Quadro P6000</option>
                    </select>
                    <box-icon name='lock-alt' type='solid'></box-icon>
                </div>

                <button name="button" type="submit" class="btn">Recommend</button>

                <div class="register-link">
                    <p><a href="../templates/recommendationPage1.html">Back</a></p>
                </div>
            </form>
        </div>
    </body>
</html>