<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Recommendation page 1</title>
        <link rel="stylesheet" href="../static/css/recommendationStyle.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>

    <body>
        <div class="wrapper">
            <form action="/sample" method="POST">
                <h1>Recommendation</h1>
                <!-- <div class="input-box">
                    <input type="text" placeholder="Price" required>
                    <box-icon type='solid' name='user'></box-icon>
                </div> -->

                <div class="input-box">
                    <select required>
                        <option value="" disabled selected>Select Price Range</option>
                        <option value="Less than $500">Less than $500</option>
                        <option value="$500 - $1000">$500 - $1000</option>
                        <option value="$1000 - $1500">$1000 - $1500</option>
                        <option value="More than $1500">More than $1500</option>
                    </select>
                    <box-icon name='lock-alt' type='solid'></box-icon>
                </div>

                <!-- <div class="input-box">
                    <input type="text" placeholder="RAM" required>
                    <box-icon name='lock-alt' type='solid' ></box-icon>
                </div> -->

                <div class="input-box">
                    <select required>
                        <option value="" disabled selected>Occupation 1</option>
                        <option value="Gaming">Gaming</option>
                        <option value="Budget Friendly">Budget Friendly</option>
                        <option value="Professional">Professional</option>
                        <option value="Everyday use">Everyday use</option>
                    </select>
                    <box-icon name='lock-alt' type='solid'></box-icon>
                </div>

                <!-- <div class="input-box">
                    <input type="text" placeholder="GPU" required>
                    <box-icon name='lock-alt' type='solid' ></box-icon>
                </div> -->
                <div class="input-box">
                    <select required>
                        <option value="" disabled selected>Occupation 2</option>
                        <option value="Gaming">Gaming</option>
                        <option value="Budget Friendly">Budget Friendly</option>
                        <option value="Professional">Professional</option>
                        <option value="Everyday use">Everyday use</option>
                    </select>
                    <box-icon name='lock-alt' type='solid'></box-icon>
                </div>

                <!-- <div class="remember-forgot">
                    <label><input type="checkbox"> Remember me</label>
                    <a href="#">Forgot password?</a>
                </div> -->

                <button type="submit" class="btn">Recommend</button>

                <div class="register-link">
                    <p><a href="recommendationPage2.html">Advance Recommendation?</a></p><br>
                    <p><a href="page1Select.html">Back</a></p>
                </div>
            </form>
        </div>
    </body>
</html>